.iframe3d {
  height: 768px;
  width: 100%;
  align: "center";
  border: 0px;
}

.pretty .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

